html,body{
    margin: 0 auto;
    padding: 0;
    width: 8.27in;
    height: 11.69in;
    font-family: "sans-serif";
    font-size: 1em;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}


.container{
    /*margin: 10px auto;*/
    width: 100%;
    height: 100%;
    background-color: #F0F0F0;
    /*border: 2px solid #ccc;*/
}


/*******************************************************/
/*********************   overview   ********************/
/*******************************************************/
.overview{
    position: relative;
    width: 38.2%;
    height: 100%;
    float: left;
    color: rgba(255,255,255,0.9);
    background: #4e7282;/*#1A927D #3086B7*/
}

.overview-pic{
    margin: 50px auto;
    width: 80%;
    text-align: center;
}
.portrait{
    margin: 0 auto;
    width: 100px;
    height: 100px;
    position: relative;
}
.portrait:after{
    display: block;
    content: '';
    position: absolute;
    top: -7px;
    left: -7px;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    background-color: transparent;
    border: 3px solid #455469;
}
.portrait>img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #404e59;
}
.overview-pic>h6{
    font-size: 1em;
    color: #494444;
}


.overview-skill{
    box-sizing: border-box;
    padding: 0 8%;
    width: 100%;
}
.overview-skill-block{
    margin: 10px 0;
    height: 20px;
}
.overview-skill-block>label{
    display: inline-block;
    width: 32%;
    line-height: 20px;
    text-align: right;
}
.overview-skill-block>span{
    display: inline-block;
    position: relative;
    float: right;
    width: 60%;
    height: 20px;
    background: rgba(200,200,200,0.2);
    border-radius: 6px;
    vertical-align: top;
}
.overview-skill-block-percent{
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    background: rgba(255,255,255,0.9);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.overview-skilldes{
    position: absolute;
    bottom: 240px;
    left: 7%;
    width: 85%;
    font-family: "Source Sans Pro", Arial, sans-serif;
    font-size: 0.8em;
}


.overview-contactme{
    position: absolute;
    bottom: 40px;
    left: 8%;
    width: 80%;
}
.overview-contactme a{
    display: block;
    margin: 5px 0;
    height: 20px;
    line-height: 20px;
    font-size: 0.9em;
}
.overview-contactme a i{
    display: inline-block;
    margin-right: 8px;
    width: 20px;
    font-size: 1.2em;
    text-align: center;
}
.overview-contactme>a:hover{
    color: #cc5565;
}



/*******************************************************/
/***********************  detail  **********************/
/*******************************************************/
.detail{
    width: 61.8%;
    height: 100%;
    float: right;
    background: #fff;
}
.detail section{
    margin: 0 auto;
    width: 90%;
    color: #1A927D;
}
.detail section:not(:first-child){
     margin-top: 25px;
 }
.detail h1{
    margin-top: 13px;
    margin-bottom: -8px;
    color: #4e7282;
}

.detail-block{
    color: #393434;
}
.detail-block h2{
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 0;
    font-size: 1.1em;
    color: rgba(0,0,0,0.7);
}
.detail-block p{
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 0.8em;
    color: #757575;
}
.detail-block p::before{
    margin-bottom: 8px;
    font-size: 0.8em;
}
.multi-p p:not(:first-of-type){
    margin-top: 5px;
}
.multi-p p:not(:last-of-type){
     margin-bottom: 5px;
 }


.detail-internship .detail-block:last-of-type h2, .detail-eduction .detail-block:last-of-type h2{
    margin-top: 10px;
}
.detail-eduction p{
    white-space: pre;
}
.detail-award p{
    margin-top: 12px;
}



/*******************************************************/
/*************************  装饰  ***********************/
/*******************************************************/

/*标题丝带*/
.ribbon{
    position: relative;
    margin: 30px auto 0 auto;
    padding: 0.7rem 0;
    width: 150px;
    height: 27px;
    line-height: 27px;
    letter-spacing: 3px;
    text-align: center;
    color: #eee;
    background: #eD6575;
}
.ribbon::before, .ribbon::after{
    content: "";
    position: absolute;
    display: block;
    bottom: -7px;
    border: 22px solid #eD6575;
}
.ribbon::before{
    left: -38px;
    border-left-color: transparent;
    box-shadow: 0 1px 0 rgba(176,102,166,0.8);
}
.ribbon::after{
    right: -38px;
    border-right-color: transparent;
    box-shadow: 0 1px 0 rgba(176,102,166,0.8);
}
.ribbon-content::before, .ribbon-content::after{
    content:"";
    position: absolute;
    display: block;
    border-width: 8px;
    border-style: solid;
    border-color: #933 transparent transparent transparent;
    bottom: -16px;
    z-index: 2;
}
.ribbon-content::before{
    left: -2px;
    border-right-width: 0;
}
.ribbon-content::after{
    right: -2px;
    border-left-width: 0;
}



/*箭头*/
.arrow{
    position: relative;
    left: 10px;
}
.arrow:before{
    content: '';
    position: absolute;
    top: 3px;
    left: -18px;
    border-width: 7px 0 7px 12px;
    border-style: solid;
    border-color: transparent;
    border-left-color: rgba(255,255,255,0.2);
}
.arrow:after{
    content: '';
    position: absolute;
    top: 3px;
    left: -18px;
    border-width: 7px 0 7px 3px;
    border-style: solid;
    border-color: transparent;
    border-left-color: #4e7282;
}
/*.detail .arrow:before{*/
/*border-left-color: rgba(78,114,130,0.5);*/
/*}*/
/*.detail .arrow:after{*/
/*border-left-color: #fff;*/
/*}*/


.tag-role{
    display: inline-block;
    position: relative;
    top: -2px;
    margin-left: 18px;
    height: 22px;
    line-height: 22px;
    text-indent: 8px;
    font-size: 0.7em;
    color: #fff;
    background: rgba(253,101,117,0.9);/*4e7282 rgba(253,101,117,0.9)*/
}
.tag-role::before, .tag-role::after{
    content: '';
    position: absolute;
    top: 0;
    border-style: solid;
    border-color: rgba(253,101,117,0.9);
}
.tag-role::before{
    left: -16px;
    border-width: 11px 8px;
    border-top-color: transparent;
    border-bottom-color: transparent;
    border-left-color: transparent;
}
.tag-role::after{
    right: -12px;
    border-width: 11px 6px;
    border-right-color: transparent;
}
.tag-keyword{
    padding: 3px 12px;
    font-size: 0.8em;
    color: #fff;
    background: #1A927D;
    border-radius: 15px;
}
.tag-arrow{
    display: block;
    position: absolute;
    bottom: 1px;
    left: -38px;
    width: 50px;
    height: 40px;
    background: url(../image/arrow.png) no-repeat;
    background-size: contain;
}
.tag-arrow:after{
    display: block;
    content: '';
    position: absolute;
    bottom: 7px;
    right: 11px;
    width: 5px;
    height: 5px;
    background-color: #fff;
    border-radius: 50%;
}